ul#armyList {
    display: grid;
    row-gap: 50px;
    list-style-type: none;
}


div.armyPreview {
    display: grid;
    grid-template-columns: 150px 500px 150px;
    list-style: none;
    align-items: center;
}

.armyPreview p {
    grid-column: 2;

    margin: 0 15px 0 15px;
}

.armyPreview a {
    grid-column: 3;

    margin: 0 15px 0 15px;
    padding: 10px 15px 10px 15px;
    border-style: solid;
    border-color: darkgreen;
    border-width: 1px;
    border-radius: 10px;
}

.armyPreview img{
    max-height: 50px;
    background-color: #cccccc;
}