/* ----- General Stuff ----- */
@font-face {
    font-family: data-gothic;
    src:url("/SAE23static/autres/JlsdatagothicCnc-yyz3.otf");
}



body {
    font-family: data-gothic;
    color: lightgray;
    background-image: url(/SAE23static/medias/images/scanlines.png);
    background-blend-mode: multiply;
    background-attachment: fixed;
    background-color: rgb(7, 19, 7);
    margin: 0;
}

a {
    color: white;
    text-decoration: none;
  }



/* ----- Header / Navbar ----- */
header {
    background-color: black;
    font-size: 25px;
}

header nav {
    display: grid;
    grid-template-columns: 10% 90%;
    justify-content: space-around;
    align-items: center;
    max-width: 15in;
    margin: auto;
    padding: 15px 0 15px 0;
}

header nav a img {
    height: 50px;
}

header ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
}

header ul li a {
    padding: 10px 15px 10px 15px;
    border-style: solid;
    border-color: darkgreen;
    border-width: 1px;
    border-radius: 10px;
}

header ul li a:hover {
    background-color: green;
    background-image: url(/SAE23static/medias/images/scanlines.png);
}

@media (max-width: 1100px) {
    header nav {
        grid-template-columns: auto;
    }

    header nav img {
        display: none
    }
    
    header ul {
        flex-direction: column;
    }

    header ul li {
        margin: 15px auto 15px auto;
    }
}



/* ----- Corps ----- */
.body-grid {
    margin: 25px 10% 20px 10%;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    justify-content: space-around;
}

#titre {
    grid-row: 1;
    text-align: center;
}

#welcome {
    grid-row: 2;
}

#general_stuff {
    grid-row: 3;
}

#general_stuff img {
    max-width: 720px;
    display: block;
    margin: auto;
}

h2 {
    text-align: center;
}





/* ----- Footer ----- */
footer {
    background-color: black;
}

footer p {
    margin: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}

footer a {
    color: green
}
